{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %} 
<title> Add/Update Term </title>
{% endblock title %}
{% block content %}
    <div class='container'>
    <div>
        <form method="POST" enctype=multipart/form-data >
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Add/Update Term </legend>
                {% bootstrap_form form %}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Add/Update</button>
            </div>

        </form>
    </div>
</div>
{% endblock content %}