{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		{% block title %} {% endblock title %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'books/assets/bootstrap/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'books/assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'books/assets/css/noscript.css' %}" /></noscript>
		
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="{% url 'home' %}" class="logo">
									<span class="fa fa-book"></span> <span class="title">Online Book Store </span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							{% if user.is_authenticated %}
							<li><a href="{% url 'home' %}" class="active">Home</a></li>
							<li><a href=" {% url 'profile' %} ">{{user.first_name}} {{user.last_name}}  </a></li>
							<li><a href="{% url 'all-books' %}">Books</a></li>
								{% if user.is_superuser %}
									<li><a href=" {% url 'borrowed-books' %} ">Borrowed Books </a></li>
									<li><a href=" {% url 'profiles' %} "> Profiles </a></li>
								{% endif %}
									<li><a href=" {% url 'logout' %}"> Logout	</a></li>

							<li>
								<a href="#" class="dropdown-toggle">About</a>

								<ul>
									<li><a href=" {% url 'about-us' %}	">About Us</a></li>
									<li><a href=" {% url 'blog-home' %} ">Blog</a></li>
									<li><a href=" {% url 'testimonials' %}	">Testimonials</a></li>
									<li><a href="{% url 'terms' %}">Terms</a></li>
								</ul>
							</li>

							<li><a href=" {% url 'contact-us' %} ">Contact Us</a></li>
						</ul>
							{% else %}

								<li><a href=" {% url 'login' %}"> Login </a></li>
								<li><a href="{% url 'testimonials' %}">Testimonials</a></li>
								<li><a href=" {% url 'about-us' %}	">About Us</a></li>
									<li><a href=" {% url 'terms' %}	">Terms</a></li>
									<li><a href="{% url 'contact-us' %}">Contact Us</a></li>
								{% endif %}
							
					</nav>
				
				<!-- Main -->
					{% block content %}{% endblock content %}
					

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
						{% block footer %}{% endblock footer %}
							<section>
								<ul class="icons">
									<li><a href="https://twitter.com/bassiony17" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="https://www.facebook.com/mahmoud.bassiony.18/" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/mahmoud.bassiony.18/" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="https://www.linkedin.com/in/mahmoud-basiony-94836a1b5/" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
								</ul>

								&nbsp;
							</section>

							<ul class="copyright">
								<li>Copyright © 2021 Mahmoud Bassiony </li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'books/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'books/assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
			<script src="{% static 'books/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'books/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'books/assets/js/main.js' %}"></script>
			

	</body>
</html>