{% load bootstrap4 %}
<div>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Change Password </legend>
                {% bootstrap_form form %}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Change</button>
            </div>
        </form>
    </div>
    <div class="border-top pt-3" >
        <small class="text-muted" >
            <a class="ml-2" href="{% url 'profile' %}" > cancel </a>
        </small>
    </div>