{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Update </legend>
                {% bootstrap_form u_form %}
                {% bootstrap_form p_form %}
            </fieldset>
            
            <div class="form-group">
                <button class="btn btn-danger " type="submit">Update</button>
            </div>
        </form>
         <a href="{% url 'password-change' %}">Change Password</a>
    </div>
    
{% endblock %}
