{%extends "base.html"%}
{% load static %}
{% load bootstrap4 %}
{% block title %} 
<title> Books </title>
{% endblock title %}
{% block content %}
       
        	<div id="main">
						<div class="inner">
						
							<h1>Books</h1>

							<div class="image main">
								<img src="{% static 'books/images/banner-image-6-1920x500.jpg' %}" class="img-fluid" alt="" />
                                {% if user.is_superuser %}
                                <a href="	{% url 'book-add' %} " class="btn btn-danger  mt-2"> Add Book </a>
                                {% endif %}
							</div>
							
                            <header id="inner">
                            <form method="GET" >
                                <fieldset class="form-group">
                                    <legend class="border-bottom mb-4"> Search </legend>
                                            {% bootstrap_form myfilter.form %}
                                </fieldset>
                                    <div class="form-group">
                                        <button class="btn btn-outline-info" type="submit"> Search </button>
                                    </div>
                            </form>
							</header>
							<!-- Books -->
        
                      <section class="tiles">
					  
					  
            {% for book in books %}
								<article class="style{{forloop.counter}}">
									<span class="image">
										<img src="{{book.cover.url}}" alt="" />
									</span>
									<a href="{% url 'book-detail' book.pk %}">
										<h2>{{book.name}}</h2>
										<br>
										<p><strong>Allowed For : {{book.borrowing_duration}}</strong></p>

										<p>{{book.upload_date|date:"D, d M, Y"}} </p>
									</a>
								</article>
							<br>
            {% endfor %}
                </section>
					<div class='container'>
                                {% if books.has_previous %}
            <a class='btn btn-outline-info mb-4' href="?page=1"> << </a>
            <a  class='btn btn-outline-info mb-4' href="?page={{ books.previous_page.number}}"> < </a>
        {% endif %}
        {% for num in books.paginator.page_range %}
            {% if num == books.number %}
            <a  class='btn btn-info mb-4' href="?page={{num}}">{{num}} </a>
            {%elif num > books.number|add:'-2' and num < books.number|add:'2'%}
                <a  class='btn btn-outline-info mb-4' href="?page={{num}}">{{num}} </a>
            {% endif %}
        {% endfor %}
        {% if books.has_next %}
            <a  class='btn btn-outline-info mb-4' href="?page={{ books.next_page.number}}"> > </a>
            <a class='btn btn-outline-info mb-4' href="?page={{books.paginator.num_pages}}"> >> </a>
        {% endif %}
        </div>
                        </div>
						
         
            </div>
			
{% endblock content %}