    {% extends 'base.html' %}
   {% load bootstrap4 %}
   {% block content %}
   
    <div id="main">
						<div class="inner">
							<h1>{{book.name}}<span class="pull-right"> {{book.upload_date|date:"D, d M, Y"}}</span></h1>
							
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-5">
										<img src="{{book.cover.url}}" class="img-fluid" alt="">
									</div>

									<div class="col-md-7">
										<p> {{book.description}}</p>

										<p>
                                            {% if book.borrowed %}
                                             <p>  Due Date : {{book.return_date|date:"D, d M, Y"}}
                                                <br>
                                                remaning days : {{book.remaining}}</p> 
											{% else %}

												Borrowing Duration : {{book.borrowing_duration}}

											{% endif %}
                                        </p>

										<div class="row">
							                <div class="col-sm-4">
							                  	<label class="control-label">Owner</label>
                                                    <br>
							                  	<div class="form-group">
								                    <p>
                                                    {% if user.is_superuser %}
                                                        <strong><a href="{% url 'u-profile' book.owner.profile.id %}">{{book.owner.first_name}} {{book.owner.last_name}} </a></strong> 
                                                    {% else %}
                                                    <strong>{{book.owner.first_name}} {{book.owner.last_name}}</strong> 
                                                    {% endif %}
                                                    </p>
													{% if user.is_superuser %}
													<a href="	{% url 'book-delete' book.id %} " class="btn btn-danger ml-4"> Delete </a>
													{% endif %}
							                  	</div>
							                </div>

							                <div class="col-sm-8">
							                  	<label class="control-label"> State </label>
                                                        <br>
							                  	<div class="row">
								                    <div class="col-sm-6">
								                      	<div class="form-group">
								                        	{% if book.borrowed %}
                                                               <p><strong>borrowed by : <br> <a href=" {% url 'u-profile' book.borrowed_by.profile.id %} "> {{book.borrowed_by.first_name}} {{book.borrowed_by.last_name}} </a> </strong></p> 
                                                            {% else %}
                                                                 <p><strong>Free To borrow</strong></p>  
                                                            {% endif %}
															{% if user.is_superuser and user == book.owner %}
															<a href=" {% url 'book-update' book.id %}	" class ="btn btn-outline-info mt-1" >Update</a>
															{% endif %}
								                      	</div>
								                </div>

								                    <div class="col-sm-4">
							                      		<form action="" method="POST">
                                                                {% csrf_token %}
                                                                {% bootstrap_form form %}
                                                                <button type="submit">OK</button>
                                                                </form>
								                    </div>
													
											</div>
							                </div>
											
							            </div>
										
									</div>
								</div>
							</div>

							<br>
							<br>
                            {% if u_books %}
                    <div class="container-fluid">
								<h2 class="h2"> Books From {{book.owner}} </h2>

								<!-- Products -->
								<section class="tiles">
            {% for bookie in u_books %}

								<article class="style{{forloop.counter}}">
									<span class="image">
										<img src="{{bookie.cover.url}}" alt="" />
									</span>
									<a href="{% url 'book-detail' bookie.pk %}">
										<h2>{{bookie.name}}</h2>
										<br>
										<p><strong>Allowed For : {{bookie.borrowing_duration}}</strong></p>

										<p>{{bookie.upload_date|date:"D, d M, Y"}} </p>
									</a>
								</article>
							<br>

            {% endfor %}
						
								</section>
							</div>
                            {% endif %}
            <div class="container-fluid">
								<h2 class="h2"> Similar Books </h2>

								<!-- Products -->
								<section class="tiles">
            {% for bookie in c_books %}

								<article class="style{{forloop.counter}}">
									<span class="image">
										<img src="{{bookie.cover.url}}" alt="" />
									</span>
									<a href="{% url 'book-detail' bookie.pk %}">
										<h2>{{bookie.name}}</h2>
										<br>
										<p><strong>Allowed For : {{bookie.borrowing_duration}}</strong></p>

										<p>{{bookie.upload_date|date:"D, d M, Y"}} </p>
									</a>
								</article>
							<br>
                            
            {% endfor %}
						
									
								</section>
							</div>
						</div>
					</div>


   {% endblock content %}