   {% load bootstrap4 %}
   {% block content %}
   
    <img src="{{book.cover.url}}" alt="">
    <h1>Name : {{book.name}}</h1>
    <h1>Description: {{book.description}}</h1>
    <h1>Owned By :{{book.owner}}</h1>
    <h1>Uploaded At :{{book.upload_date|date:"D, d M, Y"}}</h1>
    <h1>Borrowing Duration : {{book.borrowing_duration}}</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit">OK</button>
    </form>
    
   {% endblock content %}