{% load bootstrap4 %}

{% block content %}
 <form method="GET" >
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Search </legend>
                {% bootstrap_form myfilter.form %}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit"> Search </button>
            </div>
        </form>
        <br>

{% for book in books %}

    <img src="{{book.cover.url}}" alt="">
    <h1>Book Name : <a href="{% url 'book-detail' book.pk %}">{{book.name}}</a></h1>
    <h1>Owner :<a href=" {% url 'u-profile' book.owner.profile.id %} ">{{book.owner}}</a></h1>
    <h1> Borrowed By : <a href=" {% url 'u-profile' book.borrowed_by.profile.id %} ">{{book.borrowed_by}}</a></h1>
    <h1>Borrowing date : {{book.borrowed_date|date:"D, d M, Y"}}</h1>
    <h1>Due Date : {{book.return_date|date:"D, d M, Y"}}</h1>
    <h1> remaning days : {{book.remaining}} </h1>
    
{% endfor %}


{% endblock content %}