{% extends 'base.html' %}
{% load static %}
{% block title %} 
<title> Contact </title>
{% endblock title %}
{% block content %}
<div id="main">
            <div class="inner">
                    <h1>Contact Us</h1>
                    <span class="image main"><img src="{% static 'books/images/map.png' %}" alt="" /></span>
                    <p>
                        Address : El-Mahallah Elkubra , Egypt 
                    </p>
            </div>
</div>
{% endblock content %}
    {% block footer %}
    {% if user.is_authenticated %}
	<section>
								<h2>Contact Us</h2>
								<form method="post" action="#">
									{% csrf_token %}
									<div class="fields">
										
										<div class="field">
											<input type="text" name="subject" id="subject" placeholder="Subject" />
										</div>

										<div class="field">
											<textarea name="message" id="message" rows="3" placeholder="Notes"></textarea>
										</div>

										<div class="field text-right">
											<label>&nbsp;</label>

											<ul class="actions">
												<li><input type="submit" value="Send Message" class="primary" /></li>
											</ul>
										</div>
									</div>
								</form>
							</section>
							<section>
								<h2>Contact Info</h2>

								<ul class="alt">
									<li><span class="fa fa-envelope-o"></span> <a href="#">beso.beso2468@Gmail.com</a></li>
									<li><span class="fa fa-phone"></span> +0201154096403 </li>
									<li><span class="fa fa-map-pin"></span> El-Mahallah El-kobra , Egypt</li>
								</ul>
							</section>
{% endif %}
{% endblock footer %}

